# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/

# Data and Notebooks (Large files)
data/
notebooks/
scripts/

# Git
.git/
.gitignore

# MyPy
.mypy_cache/
