# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/

# MyPy
.mypy_cache/

# Models and Large Data (Explicit ignore for Docker context)
models/
data/
notebooks/
scripts/
